@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>
<h3>Jak się z nami skontaktować?</h3>

<br />
<address>
    <b>Adrian Kłos</b><br />
    <i><small>Kierownik projektu</small></i><br />
    📧 <u>adrian.klos@student.wat.edu.pl</u><br />
    📞 2222-<abbr title="Numer indeksu">68958</abbr><br />
</address>

<address>
    <b>Patryk Filipczuk</b><br />
    <i><small>Dział marketingu</small></i><br />
    📧 <u>patryk.filipczuk@student.wat.edu.pl</u><br />
    📞 2222-<abbr title="Numer indeksu">71608</abbr><br />
</address>

<address>
    <b>Cezary Waluszko</b><br />
    <i><small>Software developer</small></i><br />
    📧 <u>cezary.waluszko@student.wat.edu.pl</u><br />
    📞 2222-<abbr title="Numer indeksu">71772</abbr><br />
</address>

<address>
    <b>Mateusz Kędzierski</b><br />
    <i><small>Webmaster</small></i><br />
    📧 <u>mateusz.kedzierski01@student.wat.edu.pl</u><br />
    📞 2222-<abbr title="Numer indeksu">71638</abbr><br />
</address>