@{
    ViewBag.Title = "QuizR Home";
}

<div class=" text-center" style="font-size: 2em;">
    <hr /><hr />
    <p class="row">
        <h1 style="font-size: 1.7em;">Sprawdzanie wiedzy nigdy nie było prostsze!</h1>
    </p>
    <hr /><hr />
    <p class="row">
        <h3 style="font-size: 1.1em;">Z naszą platformą możesz przetestować się (lub innych) w wybranej dziedzinie wiedzy!</h3>
    </p>
    <hr /><hr />
    <p class="row">
        <h2 class="lead" style="font-size: 1.3em;">Gotowy na quizowe wyzwanie?</h2>
        <h3><a href="/Account/Register" class="btn btn-primary btn-lg">Dołącz do nas!</a></h3>
    </p>
</div>