@{
    ViewBag.Title = "QuizR Home";
}

<div class="jumbotron">
    <h1>Sprawdzanie wiedzy nigdy nie było prostsze!</h1>
    <p class="lead" style="font-size: 1.2em;">Z naszą platformą możesz przetestować się (lub innych) w wybranej dziedzinie wiedzy!</p>
    <p class="lead" style="font-size: 1.3em;">Gotowy na quizowe wyzwanie?</p>
    <p><a href="/Account/Register" class="btn btn-primary btn-lg">Dołącz do nas!</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Na czym to polega?</h2>
        <p style="font-size: 1.3em; font-weight: normal">
            Aplikacja pozwala na przeprowadzanie quizów w czasie rzeczywistym. Stwórz zestaw pytań, zaproś uczestników i przeprowadź z łatwością quiz z dowolnego tematu!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Zastosowania</h2>
        <p style="font-size: 1.3em;">
            To doskonała forma sprawdzania wiedzy nie tylko własnej, ale także swoich uczniów lub podopiecznych. To także świetny sposób na dobrą zabawę!
            Nawet na imprezie możesz zapewnić rozrywkę znajomym i zorganizować konkursowe wyzwanie!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Ogromne możliwości</h2>
        <p style="font-size: 1.3em;">
            Dzięki tej aplikacji możesz nie tylko organizować quizy, ale także zachowywać rankingi, statystyki i wiele innych!
        </p>
    </div>
</div>