@model WATHoot2.Models.QuestionSet

@{
    ViewBag.Title = "Index";
}

<h2>Mój zestaw pytań</h2>
<br />

<p>
    @Html.ActionLink("Dodaj pytanie", "Create", routeValues: null, new { @class = "btn btn-primary" })
</p>

@if (Model.Questions.Count == 0)
{
    <div class="card border-warning" style="width: 40%; position: absolute; left: 50%; transform: translate(-50%, 0)">
        <div class="card-body">
            <h3 class="card-title">Brak pytań!</h3>
            <p class="card-text">Nie masz jeszcze żadnych pytań.<br/>
            Użyj przycisku "Dodaj pytanie".</p>
        </div>
    </div>
    }
    else
    {
    <table class="table table-hover table-dark">
        <tr class="border-2 border-light table-primary">
            <th width="60%">Treść pytania</th>
            <th>Akcje</th>
        </tr>
        @foreach (var item in Model.Questions)
        {
            <tr class="border-2 border-light">
                <td>
                    @item.Content
                </td>
                <td>
                    @Html.ActionLink("Edytuj", "Edit", new { id = item.ID }, new { @class = "btn btn-outline-warning" })
                    @Html.ActionLink("Usuń", "Delete", new { id = item.ID }, new { @class = "btn btn-outline-danger" })
                </td>
            </tr>
        }


    </table>

    }
